@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));



@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-family-pretendard: 'Pretendard', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

body {
  font-family: var(--font-family-pretendard);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* --------- Color Tokens --------- */

  /* Primary */
  --color-peelie-primary-50: #fffbec;
  --color-peelie-primary-100: #fff5d3;
  --color-peelie-primary-200: #ffe8a5;
  --color-peelie-primary-300: #ffd66d;
  --color-peelie-primary-400: #ffb832;
  --color-peelie-primary-500: #ffa00a;
  --color-peelie-primary-600: #ff8800;
  --color-peelie-primary-700: #cc6402;
  --color-peelie-primary-800: #a14d08;
  --color-peelie-primary-900: #82410c;

  /* Secondary */
  --color-peelie-secondary-100: #fff4cc;
  --color-peelie-secondary-200: #ffb200;
  --color-peelie-secondary-300: #bf7e00;

  /* Gray */
  --color-peelie-gray-000: #ffffff;
  --color-peelie-gray-050: #fafafa;
  --color-peelie-gray-100: #f6f6f6;
  --color-peelie-gray-150: #e5e5e5;
  --color-peelie-gray-200: #cccccc;
  --color-peelie-gray-400: #c6c6c6;
  --color-peelie-gray-500: #b1b1b1;
  --color-peelie-gray-600: #888888;
  --color-peelie-gray-700: #666666;
  --color-peelie-gray-800: #4c4c4c;
  --color-peelie-gray-900: #333333;
  --color-peelie-gray-950: #191919;

  /* Error */
  --color-peelie-error-100: #f5bcbd;
  --color-peelie-error-200: #d54049;
  --color-peelie-error-300: #a4412c;

  /* ===========================
     Positive Colors
  ============================ */
  --color-peelie-positive-50: #efffee;
  --color-peelie-positive-100: #d8ffd7;
  --color-peelie-positive-600: #00c400;
  --color-peelie-positive-700: #049105;

  /* ===========================
     Warning Colors
  ============================ */
  --color-peelie-warning-50: #fff1f1;
  --color-peelie-warning-100: #ffdfdf;
  --color-peelie-warning-600: #ef2b2a;
  --color-peelie-warning-700: #c70e0f;

  /* Etc */
  --color-peelie-black: #000000;
  --color-peelie-white: #ffffff;

  /* --------- Font Tokens --------- */

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font Sizes */
  --font-heading-1: 24px;
  --font-heading-2: 22px;
  --font-heading-3: 20px;
  --font-heading-4: 18px;
  --font-body-1: 16px;
  --font-body-2: 14px;
  --font-detail: 12px;

  /* Line Heights */
  --line-height-heading-1: 32px;
  --line-height-heading-2: 30px;
  --line-height-heading-3: 28px;
  --line-height-heading-4: 26px;
  --line-height-body-1: 24px;
  --line-height-body-2: 20px;
  --line-height-detail: 17px;

  /* --------- Border Width Tokens --------- */
  --border-50: 0.5px;
  --border-100: 1px;
  --border-200: 2px;

  /* Spacing 일단 주석처리 */
  /* --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px; */

  /* --------- Elevation / Shadow Tokens --------- */
  --elevation-0: none;
  --elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --elevation-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --elevation-3: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --elevation-4: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
  --elevation-5: 0px 12px 24px 0px rgba(0, 0, 0, 0.14);

  /* --------- Radius Tokens --------- */
  --radius-100: 3px;
  --radius-200: 5px;
  --radius-300: 7px;
  --radius-400: 12px;

  /* --------- etc --------- */
  --opacity-32: 0.32;
}

@layer components {
  /* ===========================
     Font
  ============================ */

  /* Heading */
  .heading-1-medium {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-heading-1);
    line-height: var(--line-height-heading-1);
    font-weight: var(--font-weight-medium);
  }

  .heading-2-medium {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-heading-2);
    line-height: var(--line-height-heading-2);
    font-weight: var(--font-weight-medium);
  }

  .heading-3-medium {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-heading-3);
    line-height: var(--line-height-heading-3);
    font-weight: var(--font-weight-medium);
  }

  .heading-4-medium {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-heading-4);
    line-height: var(--line-height-heading-4);
    font-weight: var(--font-weight-medium);
  }

  /* Body */
  .body-1-bold {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-body-1);
    line-height: var(--line-height-body-1);
    font-weight: var(--font-weight-bold);
  }

  .body-1-regular {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-body-1);
    line-height: var(--line-height-body-1);
    font-weight: var(--font-weight-regular);
  }

  .body-2-bold {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-body-2);
    line-height: var(--line-height-body-2);
    font-weight: var(--font-weight-bold);
  }

  .body-2-regular {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-body-2);
    line-height: var(--line-height-body-2);
    font-weight: var(--font-weight-regular);
  }

  /* Details */
  .detail-regular {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-detail);
    line-height: var(--line-height-detail);
    font-weight: var(--font-weight-regular);
  }

  .detail-bold {
    font-family: var(--font-family-pretendard);
    font-size: var(--font-detail);
    line-height: var(--line-height-detail);
    font-weight: var(--font-weight-bold);
  }

  /* ===========================
     Shadow
  ============================ */
  .elevation-default {
    box-shadow: var(--elevation-1);
  }
  .elevation-hover:hover {
    box-shadow: var(--elevation-2);
  }
  .elevation-active:active {
    box-shadow: var(--elevation-3);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .embla__container {
    transition: transform 0.1s ease-out;
  }

  /* 스크롤바 숨기기 유틸 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}
